.switchBlock
    background-color: rgb(206, 206, 206)
    width: 30px
    height: 60px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 5px
    border-radius: 8px
    overflow: hidden
    button
        border: 0px
        width: 100%
        height: 30%
        display: flex
        justify-content: center
        align-items: center

    
    switchMiddle
        height: auto