.contentWrapper
    text-align: center
    display: flex
    flex-direction: column
    gap: 2em

    .cardsBlock
        display: grid
        // grid-template-columns: 1fr 1fr 1fr
        // gap: 1em
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
        grid-gap: 2em
        grid-auto-flow: dense

        
    
