.contentWrapper
    text-align: center
    display: flex
    flex-direction: column
    gap: 2em
    .titleBlock
        // display: flex
        // flex-direction: row
        // justify-content: space-between
        // align-items: center
        .search
            display: flex
            flex-direction: row
            align-items: center
            .titleInput
                height: auto
                border: 1px solid rgb(190, 190, 190)
                border-radius: 8px
                background-color: rgb(255, 251, 240)
                padding: 10px
                margin: 5px
        
    .cardsBlock
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
        grid-gap: 2em
        grid-auto-flow: dense

        
    
