
header
    position: fixed
    display: flex
    flex-direction: row
    justify-content: space-between
    // background-color: rgb(231, 220, 200)
    left: 0
    top: 0
    // padding: 10px
    width: 100%
    height: 8em // ???

    .generalContainer
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .headerLeft
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            gap: 5%
            .headerInfo
                display: flex
                flex-direction: column
                gap: 5px

        
        .headerRight
            display: flex
            flex-direction: row
            justify-content: flex-end
            // ul
            .headerRightList
                display: flex
                flex-direction: row
                justify-content: end
                align-items: center
                gap: 20%
                // margin: 0
                // padding: 0

                li
                    list-style-type: none
                    display: flex
                    flex-direction: column
                    align-items: center
