@import "./assets/styles/normalize.css";
@import "./components/MainPage/MainPage.css";
@import "./components/Header/Header.css";
@import "./components/Main/Main.css";
@import "./components/Slider/Slider.css";
@import "./components/Card/Card.css";
@import "./components/Footer/Footer.css";
@import "./components/HeartIcon/HeartIcon.css";
@import "./components/Switch/Switch.css";
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  height: auto;
  background: rgb(39, 34, 40);
  background-repeat: no-repeat;
}
body .wrapper {
  background-color: rgb(231, 220, 200);
  width: 100%;
  margin: 0 auto;
  padding: 8em 10px 0 10px;
}

.generalContainer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(231, 220, 200);
}

.app {
  position: relative;
}